<!DOCTYPE html>
{% load i18n static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/css/index.css' %}" />
    <title>HRMS :: Log in</title>
  </head>

  <body class="m4-cloak h-vh-100 d-flex flex-justify-center flex-align-center">
    <div class="login-box">
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="toast show-top alert">{{ error }}</div>
        {% endfor %}
      {% endif %}

      <form method="post" class="bg-white p-4" data-role="validator" data-clear-invalid="2000" data-on-error-form="invalidForm">
        {% csrf_token %}
        <img src="{% static 'hrms_app/source/images/kashee.png' %}" class="place-right mt-4-minus mr-4-minus" />
        <h1 class="mb-0">Login</h1>
        <div class="text-muted mb-4">Sign in to start your session</div>
        <div class="form-group">
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
          {% endif %}
          {{ form.username.label_tag }} {{ form.username }}
          {% if form.username.errors %}
            {% if 'invalid' in form.username.errors %}
              <span class="invalid-feedback">Please enter a valid email address</span>
            {% endif %}
          {% endif %}
        </div>
        <div class="form-group">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
          {% endif %}
          {{ form.password.label_tag }} {{ form.password }}
          <input type="hidden" name="next" value="{{ next }}" />
          {% if form.password.errors %}
            {% if 'required' in form.password.errors %}
              <span class="invalid-feedback">Please enter a password</span>
            {% endif %}
          {% endif %}
        </div>
        <div class="form-group d-flex flex-align-center flex-justify-between">
          <input type="checkbox" data-role="checkbox" data-caption="Remember Me" />
          <button type="submit" class="button primary">Sign In</button>
        </div>

        <div class="form-group border-top bd-default pt-2">
          {% url 'reset_password' as password_reset_url %}
          {% if password_reset_url %}
            <div class="password-reset-link">
              <a href="{{ password_reset_url }}" class="d-block">Forgotten your password or username?</a>
            </div>
          {% endif %}
        </div>
      </form>
    </div>
    {% include 'hrms_app/messages.html' %}
    <script src="{% static 'hrms_app/source/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/metro4/js/metro.min.js' %}"></script>
    <script>
      function invalidForm() {
        var form = $(this)
        form.addClass('ani-ring')
        setTimeout(function () {
          form.removeClass('ani-ring')
        }, 1000)
      }
    </script>
  </body>
</html>
