{% extends 'hrms_app/base.html' %}
{% load static %}
{% load hrms_tag humanize i18n %}
{% block title %}
  HRMS | Employees
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'hrms_app/css/status.css' %}" />
{% endblock %}

{% block content %}
  {% render_breadcrumb 'Employees' urls %}
  <div class="bg-white px-2 py-4">
    <div class="container bg-light py-2">
      <form method="get" action="{% url 'employees' %}">
        <div class="row g-2 align-items-center justify-content-between text-center text-md-start">
          <!-- Search Input -->
          <div class="col-12 col-md-4 col-lg-3">
            <div class="input-group">
              <span class="input-group-text bg-primary text-white">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <input 
                type="text" 
                class="form-control px-3 py-2" 
                name="q" 
                value="{{ search_query }}" 
                placeholder="Search users..."
              />
            </div>
          </div>

          <!-- Active/Inactive Filter -->
          <div class="col-12 col-md-4 col-lg-3">
            <div class="form-group mb-0">
              <select name="is_active" class="form-select w-100">
                <option value="">All</option>
                <option value="True" {% if is_active == 'True' %}selected{% endif %}>{% trans "Active" %}</option>
                <option value="False" {% if is_active == 'False' %}selected{% endif %}>{% trans "Inactive" %}</option>  
              </select>
            </div>
          </div>
      
          <!-- Buttons Section -->
          <div class="col-12 col-md-4 col-lg-3">
            <div class="d-flex gap-2 justify-content-between">
              <button type="submit" class="btn btn-primary btn-sm w-100">
                <i class="fa-solid fa-filter"></i> {% trans "Filter" %}
              </button>
              <a class="btn btn-secondary btn-sm w-100" href="{% url 'employees' %}">{% trans "Clear" %}</a>
              <a href="{% url 'create_user' %}" class="btn btn-outline-dark btn-sm w-100">
                <i class="fa-solid fa-user-plus"></i> Add
              </a>
            </div>
          </div>
      
        </div>
      </form>
    </div>
    <hr>

    <div class="mt-3">
      <div class="row">
        {% for user in users %}
          <div class="col-md-4 col-sm-12 col-lg-3 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                  <img src="{{user.personal_detail.get_avatar_url}}"
                    class="avatar rounded-circle mb-2 img-fluid"
                    style="max-width: 100px; max-height: 100px; width: auto; height: auto;" />
                  <h5 class="card-title">{{ user.personal_detail.salutation }} {{ user.get_full_name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ user.personal_detail.designation }}</h6>
                </div>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between align-items-center">
                    <span>{% trans "Department" %}</span>
                    <span class="badge bg-warning text-dark">{{ user.personal_detail.designation.department }}</span>
                  </li>
                  <li class="d-flex justify-content-between align-items-center mt-2">
                    <span>{% trans "Joined At" %}</span>
                    <span class="badge bg-info text-white">{{ user.personal_detail.doj }}</span>
                  </li>
                </ul>                
                <div class="d-flex justify-content-between">
                  <a href="{% url 'edit_user_wizard' user.pk %}" class="btn btn-info btn-sm"><i class="fa-solid fa-edit"></i> {% trans "Edit" %}</a>
                  <a href="{% url 'employee_profile' user.pk %}" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-eye"></i> {% trans "View" %}</a>
              </div>              
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-12">
            <p>{% trans "No Employee found." %}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Pagination -->
    <div class="container mt-3">
      <nav>
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&is_active={{ is_active }}&page=1">&laquo; {% trans "First" %}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&is_active={{ is_active }}&page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
            </li>
          {% endif %}

          <li class="page-item active">
            <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          </li>

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&is_active={{ is_active }}&page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&is_active={{ is_active }}&page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block xtra_js %}
  <script>
    function submitForm() {
      document.getElementById('creation_form').submit()
    }
  </script>
{% endblock %}
