{% extends 'hrms_app/base.html' %}
{% load static hrms_tag i18n %}
{% load render_table from django_tables2 %}
{% block title %}
  {{ request.user.username|upper }} | Tour tracker
{% endblock %}

{% block content %}
  {% render_breadcrumb 'Tour Tracker' urls %}
  <div class="bg-light m-2">
    <!-- Toggle Button for Mobile -->
    <div class="d-md-none text-end mb-2">
      <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#mobileFilterForm" aria-expanded="false" aria-controls="mobileFilterForm">
        <i class="bi bi-funnel"></i> {% trans 'Show Filters' %}
      </button>
    </div>
  
    <!-- Filter Form (Collapse on small screens) -->
    <div class="collapse d-md-block" id="mobileFilterForm">
      <form method="get" action="{% url 'tour_tracker' %}">
        <div class="row">
          <div class="col-md-2 col-12 col-sm-12 col-lg-3 mb-3">{{ form.status.label_tag }} {{ form.status }}</div>
          <div class="col-md-3 col-12 col-sm-12 col-lg-3 mb-3">{{ form.from_date.label_tag }} {{ form.from_date }}</div>
          <div class="col-md-3 col-12 col-sm-12 col-lg-3 mb-3">{{ form.to_date.label_tag }} {{ form.to_date }}</div>
          <div class="col-md-3 col-12 col-sm-12 col-lg-3 mb-3">
            <label for="search" class="text-muted">{% trans 'Search' %}</label>
            <input type="text" name="search" id="search" class="form-control" placeholder="Search tours..." />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col d-flex justify-content-start">
            <button type="submit" class="btn btn-primary me-2 btn-sm"><span class="mif-filter"></span>{% trans 'Filter' %}</button>
            <a class="btn btn-secondary me-2 btn-sm" href="{% url 'tour_tracker' %}">{% trans 'Clear Filter' %}</a>
            <a href="{% url 'apply_tour' %}" class="btn btn-info btn-sm">{% trans 'Apply Tour' %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="bg-light p-2">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><span class="mif-table"></span>{% trans 'Applied Tours' %}</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Render the table for applied tours -->
              {% render_table table %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} {% if user.is_rm %} {% endcomment %}
    <div class="bg-light m-2">
      {% if employee_tours %}
        <div class="row">
          <div class="col-12">
            <div class="card mt-4">
              <div class="card-header bg-cyan text-white">
                <h5 class="card-title"><span class="mif-table"></span>{% trans 'Requested Tours' %}</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="dt-responsive table-responsive mt-1">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              {% trans 'Requested By' %}
                            </th>
                            <th>
                              {% trans 'From' %}
                            </th>
                            <th>
                              {% trans 'Start Date' %}
                            </th>
                            <th>
                              {% trans 'To' %}
                            </th>
                            <th>
                              {% trans 'End Date' %}
                            </th>
                            <th>
                              {% trans 'Status' %}
                            </th>
                            <th>
                              {% trans 'Action' %}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for tour in employee_tours %}
                            <tr>
                              <td>{{ tour.applied_by }}</td>
                              <td>
                                <h6>{{ tour.from_destination }}</h6>
                              </td>
                              <td>{{ tour.start_date }}</td>
                              <td>{{ tour.to_destination }}</td>
                              <td>{{ tour.end_date }}</td>
                              <td>{{ tour.status }}</td>
                              <td>
                                <a href="{% url 'tour_application_detail' tour.slug %}">{% trans 'Approve/Reject/Cancel' %}</a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% comment %} {% else %} {% endcomment %}
        {% comment %} <div class="container"> {% endcomment %}
          {% comment %} <h4 class="notification alert alert-danger">No requested {{ selected_status }} tours</h4> {% endcomment %}
        {% comment %} </div> {% endcomment %}
      {% comment %} {% endif %} {% endcomment %}
    </div>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
      $('.table').DataTable({
        paging: true,
        searching: true,
        ordering: false,
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel']
      })
    })
  </script>
{% endblock %}
