{% load i18n static hrms_tag webpush_notifications %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}" style="overflow-y: hidden;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% include 'includes/mstyles.html' %}
    {% block dark-mode-vars %}
    {% endblock %}
    {% block extrastyle %}

    {% endblock %}
    {% block extrahead %}

    {% endblock %}
    {% block blockbots %}
      <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    {% webpush_header %}
  </head>

  <body data-admin-utc-offset="{% now 'Z' %}">
    <div class="container-scroller">
      {% block navigation %}
        {% include 'includes/navigation.html' %}
      {% endblock %}
      <div class="container-fluid page-body-wrapper">
        {% block sidebar %}
          {% include 'includes/sidebar.html' %}
        {% endblock %}

        <div class="main-panel vh-100 overflow-auto border-top">
          <div class="content-wrapper px-4 py-1 mb-5">
            <div class="col-12">
              {% block messages %}
                {% if messages %}
                  <div class="messages">
                    {% for message in messages %}
                      <div class="alert {% if message.tags == 'success' %}
                          alert-success{% elif message.tags == 'info' %}
                          alert-info{% elif message.tags == 'warning' %}
                          alert-warning{% elif message.tags == 'error' %}
                          alert-danger{% else %}alert-secondary
                          {% endif %} alert-dismissible fade show"
                        role="alert">
                        {{ message|capfirst }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endblock %}
            </div>

            <div class="row">
              <div class="col-sm-12">
                {% block content %}
                  {% block object-tools %}
                {% endblock %}
                {{ content }}
                {% endblock %}
              </div>
            </div>
            {% comment %} {% webpush_button with_class='btn btn-outline-info' %} {% endcomment %}
            {% include 'includes/footer.html' %}
          </div>
        </div>
        {% block notification %}
          {% load_side_notifications request.user %}
        {% endblock %}
        {% block settings_panel %}
          {% include 'includes/settings-panel.html' %}
        {% endblock %}
      </div>
    </div>
    <!-- END Container -->
    {% include 'includes/mscripts.html' %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const toggleButton = document.getElementById('toggle-sidebar')
        const sidebar = document.getElementById('right-sidebar')
        const closeButton = sidebar.querySelector('.settings-close')
      
        // Open the sidebar
        toggleButton.addEventListener('click', () => {
          sidebar.classList.toggle('active')
        })
      
        // Close the sidebar
        closeButton.addEventListener('click', () => {
          sidebar.classList.remove('active')
        })
      })
      $(document).ready(function () {
        $('.vDateField').each(function () {
          var fieldValue = $(this).val()
      
          // Ensure the fieldValue is not empty
          if (fieldValue) {
            // Manually parse the date in "YYYY-MM-DD" format
            var parts = fieldValue.split('-') // Split by hyphen
            var year = parseInt(parts[0], 10)
            var month = parseInt(parts[1], 10) - 1 // Month is 0-based in JS
            var day = parseInt(parts[2], 10)
      
            var dateValue = new Date(year, month, day)
      
            // Initialize Datepicker with the correct date format
            $(this)
              .datepicker({
                dateFormat: 'yy-mm-dd', // Correct jQuery UI Datepicker format
                defaultDate: dateValue
              })
              .datepicker('setDate', dateValue)
          } else {
            $(this).datepicker()
          }
        })
        // Initialize timepicker for fields with vTimeField class
        $('.vTimeField').each(function () {
          var fieldValue = $(this).val()
      
          if (fieldValue) {
            // Ensure proper parsing
            var timeParts = fieldValue.split(':')
            var hours = parseInt(timeParts[0], 10)
            var minutes = parseInt(timeParts[1], 10)
      
            var timeValue = (hours < 10 ? '0' + hours : hours) + ':' + (minutes < 10 ? '0' + minutes : minutes)
      
            $(this)
              .timepicker({
                showMeridian: false, // 24-hour format
                defaultTime: timeValue
              })
              .timepicker('setTime', timeValue) // Ensure it sets the value correctly
          }
        })
      })
    </script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
