<!DOCTYPE html>
{% load static %}
<html lang="en" class="scrollbar-type-1 sb-cyan">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="metro4:init" content="true" />
    <meta name="metro4:locale" content="en" />
    <meta name="metro4:week_start" content="1" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-all.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-colors.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-colors.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-animations.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-animations.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/source/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/css/status.css' %}" />
    <link rel="stylesheet" href="{% static 'hrms_app/css/notification.css' %}" />
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    {% block xtra_css %}

    {% endblock %}
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>

  <body class="m4-cloak h-vh-100">
    <div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">
      {% include 'hrms_app/sidebar.html' %}

      <div class="navview-content h-100">
        {% include 'hrms_app/navbar.html' %}

        <div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto">
          {% block content_main %}

          {% endblock %}
        </div>
      </div>
    </div>

    {% include 'hrms_app/messages.html' %}

    <script>
      function runToast(mode) {
        var toast = Metro.toast.create
        switch (mode) {
          case 'callback':
            toast('This is a toast with callback', function () {
              alert('Toast callback executed!')
            })
            break
          case 'timeout':
            toast('This is a toast with timeout 5s', null, 5000)
            break
          case 'class':
            toast('This is a toast with custom class', null, 5000, 'bg-green fg-white')
            break
          case 'options':
            toastOptions()
            break
          default:
            toast('This is default toast')
        }
      }
      
      function toastClasses(cls) {
        var toast = Metro.toast.create
        toast('This is a toast with a predefined class .' + cls, null, 5000, cls)
      }
      
      function getCookie(name) {
        var cookieValue = null
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';')
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim()
            // Check if the cookie name matches the CSRF token cookie name
            if (cookie.substring(0, name.length + 1) === name + '=') {
              // Get the value of the CSRF token
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
              break
            }
          }
        }
        return cookieValue
      }
    </script>
    <script src="{% static 'hrms_app/source/vendors/metro4/js/metro.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/metro4/js/metro.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/chartjs/Chart.bundle.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/chartjs/Chart.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/qrcode/qrcode.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/jsbarcode/JsBarcode.all.min.js' %}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    {% block xtra_js %}

    {% endblock %}
  </body>
</html>
