{% extends "hrms_app/base.html" %}
{% load i18n static %}
{% block title %}HRMS | Leave tracker{% endblock %}

{% block xtra_style %}

{% endblock %}

{% block content_main %}
<div class="row border-bottom bd-lightGray m-3">
    <div class="cell-md-4 d-flex flex-align-center">
        <h3 class="dashboard-section-title  text-center text-left-md w-90">Change Password</h3>

    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
        <ul class="breadcrumbs bg-transparent">
            <li class="page-item"><a href="#" class="page-link"><span class="mif-meter"></span></a></li>
            <li class="page-item"><a href="#" class="page-link">Dashboard</a></li>
        </ul>
    </div>
</div>
<div class="grid">
    <div class="row">
        <div class="container center">
            <div class="card p-4">
                <div class="cell-6 mx-2">
                    <form method="post">
                        {% csrf_token %}
                        <div>                            
                            <p>Please enter your old password, for security’s sake, and then enter your new password
                                twice so we can verify you typed it in correctly.</p>
                            <fieldset class="module aligned wide mt-5">
                                <div class="form-group">
                                    {% if form.old_password.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.old_password.errors %}
                                        <li style="color: red;">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="flex-container">
                                        {{ form.old_password }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% if form.new_password1.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.new_password1.errors %}
                                        <li style="color: red;">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {{ form.new_password1 }}
                                    {% if form.new_password1.help_text %}
                                    <div class="help" {% if form.new_password1.id_for_label %}
                                        id="{{ form.new_password1.id_for_label }}_helptext" {% endif %}>
                                        {{form.new_password1.help_text|safe}}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if form.new_password2.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.new_password2.errors %}
                                        <li style="color: red;">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="flex-container">
                                        {{ form.new_password2 }}
                                    </div>
                                    {% if form.new_password2.help_text %}
                                    <div class="help" {% if form.new_password2.id_for_label %}
                                        id="{{ form.new_password2.id_for_label }}_helptext" {% endif %}>
                                        {{form.new_password2.help_text|safe }}</div>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group mt-5">
                                <button type="submit" class="button primary">{% translate 'Change my password' %}</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}