{% extends 'hrms_app/base.html' %}
{% load static hrms_tag i18n %}
{{ form.media }}
{% block title %}
  {{ request.user.first_name }} |{% trans 'Leave Transaction' %}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'hrms_app/css/status.css' %}" />
  <link rel="stylesheet" href="{% static 'hrms_app/css/leave_bal.css' %}" />
{% endblock %}

{% block content %}
  {% render_breadcrumb 'Leave Transaction' urls %}
  <div class="bg-white p-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h5 class="mt-4">{% trans 'Employee Attendance Aggregation' %}</h5>
        <div class="table-responsive">
          <div style="max-height: 400px; overflow-y: auto;">
            <table class="table table-stripped" id="leaveStatusTable">
              <thead class="table-light sticky-header">
                <tr>
                  <th>
                    <input type="checkbox" id="selectAll" />
                  </th>
                  <th>
                    {% trans 'Emp Code' %}
                  </th>
                  <th>
                    {% trans 'P' %}
                  </th>
                  <th>
                    {% trans 'H' %}
                  </th>
                  <th>
                    {% trans 'T' %}
                  </th>
                  <th>
                    {% trans 'CL' %}
                  </th>
                  <th>
                    {% trans 'CLH' %}
                  </th>
                  <th>
                    {% trans 'SL' %}
                  </th>
                  <th>
                    {% trans 'SLH' %}
                  </th>
                  <th>
                    {% trans 'FL' %}
                  </th>
                  <th>
                    {% trans 'EL' %}
                  </th>
                  <th>
                    {% trans 'TH' %}
                  </th>
                  <th>
                    {% trans 'OFF' %}
                  </th>
                  <th>
                    {% trans 'Total' %}
                  </th>
                  <th>
                    {% trans 'Credit' %}
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div id="balance-loader" class="custom-box-loader" style="display: none;">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>          
        </div>
        <div class="container mt-4">
          <h5 class="mb-3 border-bottom pb-2">{% trans 'Quarterly EL Credit' %}</h5>
          <div class="row g-2 align-items-center">
            <div class="col-auto">
              <button id="creditELBtn" class="btn btn-success btn-sm">{% trans 'Credit EL to All' %}</button>
            </div>
            <div class="col-auto">
              <div id="elLoader" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="visually-hidden">{% trans 'Processing...' %}</span>
              </div>
            </div>
          </div>
          <div id="elCreditMessage" class="alert d-none mt-3" role="alert"></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="container mt-4">
          <h5 class="mb-3 border-bottom pb-2">{% trans 'Forward Leave Balances' %}</h5>
          <div class="row g-2 align-items-center">
            <div class="col-auto input-container">
              <input type="number" id="yearInput" class="input-field" placeholder="{% trans 'Enter year (e.g., 2025)' %}" />
            </div>
            <div class="col-auto">
              <button id="forwardLeavesBtn" class="btn btn-primary btn-sm">{% trans 'Submit' %}</button>
            </div>
            <div class="col-auto">
              <div id="loader" class="spinner-border text-primary" style="display: none;" role="status">
                <span class="visually-hidden">{% trans 'Loading...' %}</span>
              </div>
            </div>
          </div>
          <div id="leaveForwardMessage" class="mt-3 message-container"></div>
        </div>

        <div class="container my-4">
          <h5 class="mb-3 border-bottom pb-2">{% trans 'Check all Employee Attendance Count' %}</h5>
          <div class="row g-2 align-items-center">
            <div class="col input-container">
              <input id="startDate" class="input-field datepicker" placeholder="{% trans 'Start Date' %}" />
            </div>
            <div class="col input-container">
              <input id="endDate" class="input-field datepicker" placeholder="{% trans 'End Date' %}" />
            </div>
            <div class="col-auto">
              <button id="checkLeaveDaysBtn" class="btn btn-primary btn-sm">{% trans 'Check' %}</button>
            </div>
          </div>
          <div id="leaveDaysResult" class="mt-3 text-info fw-bold"></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2">
        <h5 class="mt-4">{% trans 'Leave Transaction Logs' %}</h5>
        <div class="log-box log-box-scrollable border p-3 mb-4 rounded shadow-sm bg-light">
          {% if logs %}
            <ul class="list-unstyled mb-0">
              {% for log in logs %}
                <li class="mb-3 pb-2 border-bottom">
                  <strong>{{ log.action_time|date:'Y-m-d H:i' }}</strong> —
                  {{ log.get_change_message|default:'No message' }}
                  <br />
                  <small class="text-muted">Action: {{ log.get_action_flag_display }}</small>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No recent leave balance logs found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'hrms_app/js/leave_bal.js' %}"></script>
{% endblock %}
