{% extends 'hrms_app/base.html' %}
{% load static hrms_tag humanize i18n %}
{% load render_table from django_tables2 %}

{% block title %}
  {{ user.get_short_name|capfirst }} | {% trans 'Regularizations' %}
{% endblock %}

{% block extrastyle %}
  <style>
    .center-row {
      display: flex;
      justify-content: center;
    }
    .pagination {
      display: flex;
      justify-content: center;
      padding: 0;
      list-style: none;
    }
    .pagination li {
      margin: 0 5px;
    }
    .pagination li a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: #007bff;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;
    }
    .pagination li a:hover {
      background-color: #007bff;
      color: #fff;
    }
    .pagination li.active a {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }
    .pagination li.disabled a {
      color: #6c757d;
      pointer-events: none;
      cursor: not-allowed;
    }
  </style>
{% endblock %}

{% block content %}
  {% if request.user.is_superuser %}
    <div class="bg-light my-2">
      <form method="get">
        <div class="row m-2">
          {% for field in filter.form %}
            <div class="col-md-3 col-12 mb-2">{{ field.label_tag }} {{ field }}</div>
          {% endfor %}
          <div class="col-md-3 col-12 mb-2">
            <button type="submit" class="btn btn-sm btn-primary"><span class="mif-filter"></span> Filter</button>
            <a class="btn btn-sm btn-secondary" href="{% url 'regularization' %}">Clear Filter</a>
          </div>
        </div>
      </form>
    </div>
  {% endif %}
  <div class="bg-white my-2 p-2">
    <div class="table-responsive">
      {% render_table table %}
    </div>
  </div>
  {% if request.user.is_rm or request.user.is_superuser or request.user.is_staff %}
    <div class="bg-light p-2">
      <div class="row">
        <div class="col-12">
          <div class="card mt-4">
            <div class="card-header bg-light text-dark d-flex justify-content-between align-items-center">
              <h5 class="mb-0">{% trans 'Requested Regularizations' %}</h5>
              <div class="col-12 col-md-4 col-lg-3"></div>
            </div>
            <div class="card-body">
              <div class="col-12">
                <div class="dt-responsive table-responsive mt-1">
                  <table class="table table-striped requested-table">
                    <thead>
                      <tr>
                        <th>
                          {% trans 'Requested By' %}
                        </th>
                        <th>
                          {% trans 'Type' %}
                        </th>
                        <th>
                          {% trans 'From' %}
                        </th>
                        <th>
                          {% trans 'To' %}
                        </th>
                        <th>
                          {% trans 'Duration' %}
                        </th>
                        <th>
                          {% trans 'Status' %}
                        </th>
                        <th>
                          {% trans 'Action' %}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for reg in assigned_regs %}
                        <tr>
                          <td>
                            {{ reg.applied_by }}
                          </td>
                          <td>
                            <h6>{{ reg.reg_status|capfirst }}</h6>
                          </td>
                          <td>{{ reg.start_date.date }}</td>
                          <td>{{ reg.end_date.date }}</td>
                          <td>{{ reg.reg_duration }}</td>
                          <td>{{ reg.status|capfirst }}</td>
                          <td>
                            <a href="{% url 'event_detail' reg.slug %}">{% trans 'Approve/Reject/Cancel' %}</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
      $('.requested-table').DataTable({
        paging: true,
        searching: true,
        sorting: true,
        dom: 'Bfrtip',
        buttons: ['csv', 'excel']
      })
    })
  </script>
{% endblock %}
