<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'hrms_app/source/vendors/metro4/css/metro-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'hrms_app/source/css/index.css' %}">
    <title>HRMS :: 403 Permission Denied</title>
</head>
<body class="m4-cloak h-vh-100 d-flex flex-justify-center flex-align-center">
    <div class="container text-center">

        <img src="{% static 'hrms_app/source/images/kashee.png' %}" >

        <div class="display4 fg-orange mt-0">403</div>
        <div class="h1 text-center m-8">Oops!<br>Permission Denied</div>

        <div class="text-leader2 text-center page-error-box mx-auto">
            It seems you don't have permission to view this page.
            <br>Meanwhile, you may <a href="{% url 'dashboard' %}">return to dashboard</a> or try using the search form.
        </div>
    </div>

    <script src="{% static 'hrms_app/source/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'hrms_app/source/vendors/metro4/js/metro.min.js' %}"></script>
</body>
</html>