<!DOCTYPE html>
<html>
<head>
    <title>{{ calendar.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" />
</head>
<body>
    <div class="container">
        <div id="calendar"></div>
    </div>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: [
                    {% for event in events %}
                    {
                        title: '{{ event.title }}',
                        start: '{{ event.start }}',
                        end: '{{ event.end }}',
                        url: "{% url 'event_detail' event.id %}"
                    },
                    {% endfor %}
                ]
            });
        });
    </script>
</body>
</html>
