{% extends 'hrms_app/base.html' %}
{% load hrms_tag humanize i18n static %}
{{ wizard.form.media }}
{% block title %}
  HRMS | Register Employee
{% endblock %}

{% block extrastyle %}
<style>
  .stepper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  .step {
      flex: 1;
      text-align: center;
      padding: 10px;
      border-bottom: 3px solid lightgray;
      color: gray;
  }
  .step.active {
      font-weight: bold;
      color: black;
      border-bottom: 3px solid green;
  }
  .step.completed {
      color: green;
      border-bottom: 3px solid green;
  }
</style>
  <link rel="stylesheet" href="{% static 'hrms_app/css/status.css' %}" />
{% endblock %}

{% block content %}
  {% render_breadcrumb 'Create Employee' urls %}
  <div class="bg-light">
    <form id="creation_form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ wizard.management_form }}
      <div class="stepper d-flex justify-content-between">
        {% for step in wizard.steps.all %}
            <div class="step {% if wizard.steps.current == step %}active{% elif wizard.steps.index > forloop.counter0 %}completed{% endif %}">
                Step {{ forloop.counter }}: {{ step|title }}
            </div>
        {% endfor %}
      </div>  
      <div class="mt-2">
        {% block content_form %}
        {% endblock %}
      </div>

      <div class="row mt-3">
        <div class="col-md-4 mb-2">
          {% if wizard.steps.prev %}
            <input type="hidden" name="is_navigation" value="true" />
            <button class="btn btn-sm btn-outline-primary w-100 mb-2" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate 'First step' %}</button>
            <button class="btn btn-sm btn-outline-secondary w-100" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate 'Previous step' %}</button>
          {% endif %}
        </div>
        <div class="col-md-4 mb-2">
          <button type="button" class="btn btn-sm btn-primary w-100" data-bs-toggle="modal" data-bs-target="#submitDialog">
            <i class="fa fa-check-circle me-2"></i>
            {% translate 'Submit' %}
          </button>
        </div>
        <div class="col-md-4">
          <a href="{% url 'cancel_user_creation' %}" class="btn btn-sm btn-danger w-100">{% translate 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="submitDialog" tabindex="-1" aria-labelledby="submitDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitDialogLabel">{% translate 'Are you sure?' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% translate 'You want to submit the details. Please check carefully.' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">{% translate 'Cancel' %}</button>
          <button type="button" class="btn btn-primary btn-sm" onclick="submitForm()">{% translate 'Submit' %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    function submitForm() {
      document.getElementById('creation_form').submit()
    }
    $(document).ready(function () {
      $("#copyAddressCheckbox").change(function () {
        if ($(this).is(":checked")) {
          let userId = "{{ employee_obj.id }}";
  
          $.ajax({
            url: `/get_corresponding_address/${userId}/`,
            type: "GET",
            dataType: "json",
            success: function (data) {
              if (!data.error) {
                // Populate form fields with fetched address data
                $("#id_paddress-address_line_1").val(data.address_line_1);
                $("#id_paddress-address_line_2").val(data.address_line_2);
                $("#id_paddress-country").val(data.country);
                $("#id_paddress-district").val(data.district);
                $("#id_paddress-state").val(data.state);
                $("#id_paddress-zipcode").val(data.zipcode);
              }
            },
            error: function () {
              alert("Failed to fetch corresponding address.");
            }
          });
        } else {
          // Clear the permanent address fields if unchecked
          $("#id_paddress-address_line_1").val("");
          $("#id_paddress-address_line_2").val("");
          $("#id_paddress-country").val("");
          $("#id_paddress-district").val("");
          $("#id_paddress-state").val("");
          $("#id_paddress-zipcode").val("");
        }
      });
    });
  </script>
{% endblock %}
